<h2>My Heroes</h2>

<div style="display: inline-block">

<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

</div>

<div style="display: inline-block">
<app-hero-detail [hero]="selectedHero"></app-hero-detail>
</div>